
.numbered-heading{
    font-size: xx-large;
}

/* .justify-content-md-center{
margin-left: 1%;
} */
    /* .section__title {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 200px;
        margin-right: 70px;
        color: #007bff;
        text-transform: uppercase;
        text-align: right;
        font-weight: 700;
        letter-spacing: 2px;
        /* margin-right: 2%; */
        .section__title {
            -ms-flex-negative: 0;
            flex-shrink: 0;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: x-small
            /* margin-right: 2%; */
        }
        .section__desig{
            font-weight: 300;
        }
        .section__duration{
            font-weight: 300;
        }
.sec__middle {
    padding-right:2%;
}


    