.numbered-heading {
	font-size: xx-large;
}

.body {
	background-color: black;
	margin: 0%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.exp_container {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}


/* color: "chocolate", font-size: "19px", text-align: "center", margin-top: "10px" */

.expbox1_exp {
	color: white;
    margin-top: 10px;
    font-family: monospace;
}

.expbox {
	height: 50%;
	border: 1px solid black;
	position: relative;
	text-align: center;
}

.expbox_23 {
	height: 50%;
	border: 1px solid black;
	position: relative;
	font-size: "90%";
}

.expbox2_list {
	margin-left: "30px";
	text-align: "left";
	margin-top: "10px";
	color: "white";
	font-family: "monospace";
	padding-left: 6%;
	font-size: small;
	padding-top: 2%;
}

.expbox2_comp {
	color: white;
	margin-top: 10px;
}

.section__desig {
	font-weight: 300;
}

.section__duration {
	font-weight: 300;
}

.sec__middle {
	padding-right: 2%;
}

.table-bordered td,
.table-bordered th {
	border: 1px solid transparent;
}