        .body {
        background-color: black;
        margin: 0%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        width: 90%;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-gap: 10px;
    }
    
    .skillbox {
        height: 50%;
        border: 1px solid white;
        position: relative;
        text-align: center;
    }
    
    .skillbox_exp {
        padding-top: 3px;
        color: coral;
        font-size: 15px;
        font-family: monospace;
        letter-spacing: 3px;
    }

    p:hover {
        color: white;
        text-decoration: none;
      }    
    