    .skill_container {
        width: 100%;
        height: auto;
        background: black;
        border: blanchedalmond;
        /*Flexbox*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }

    .skillbox_exp {
        text-align: center;
    }

    .skillist_exp {
        text-align: center;
        color: blanchedalmond;
        font-family: monospace;
    }

    /* .skillbox {
        height: 50%;
        border: 1px solid white;
        position: relative;
        text-align: center;
    } */

    .skillist_exp {
        text-align: center;
        font-size: 20%;
    }

    .skillbox {
        width: 15%;
        height: 400px;
        background: black;
        margin:20px;
        box-sizing: border-box;
        font-size: 50px;
    }

    @media screen and (max-width:1200px) {
        .skillbox {
            width: 40%;
        }
    }
    @media screen and (max-width:600px) {
        .skillbox {
            width: 90%;
        }
    }
    
    .skillbox_exp {
        padding-top: 3px;
        color: coral;
        font-size: 15px;
        font-family: monospace;
        letter-spacing: 3px;
    }

    p:hover {
        color: white;
        text-decoration: none;
      }    
    